/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent the entire page from scrolling */
}

h1 {
  text-align: center;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}

li button {
  background: none;
  border: none;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

li button:hover,
li button:focus {
  background-color: #e0e0e0;
}

li button.active {
  background-color: #d0d0d0;
  font-weight: bold;
}

#toc-container {
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  padding-top: 20px;
}

#viewer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Used to hide the x-axis scrollbar for div below viewer div and above the iframe  */
.epub-container {
  overflow-x: hidden !important; /* Hide horizontal overflow */
  max-width: 100%; /* Ensure container width doesn't exceed the viewport */
}

.epub-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: 1s;
}

.epub-container::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: none;
}

.epub-container::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.6);
  background-clip: padding-box;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 5px;
  transition: 1s;
}
.uploaded-books {
  margin-top: 20px;
}

.uploaded-book {
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.uploaded-book p {
  margin: 0;
}

.uploaded-book a {
  color: #28a745;
  text-decoration: none;
}

.home-page {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 100vh;
}

.add-book-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.categories ul {
  list-style-type: none;
  padding: 0;
}

.categories li {
  margin-bottom: 10px;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.book-card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.book-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.book-info {
  text-align: center;
}

.book-title {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}

.book-info a {
  color: #007bff;
  text-decoration: none;
  font-size: 12px;
}

.book-card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; /* Add this to make the entire card clickable */
}

/* // toc */
.toc-header {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.toc-item {
  padding: 10px 16px;
  margin-bottom: 5px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap; /* Allows wrapping if content is too wide */
}

.toc-item span {
  white-space: normal; /* Allows line breaks */
  overflow: visible; /* Ensure no content is hidden */
}

.toc-item:hover {
  background-color: rgba(
    100,
    149,
    237,
    0.1
  ); /* Light blue background on hover for light theme */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.active-item {
  border-left: 4px solid #2c5282; /* Blue border for active items */
  padding-left: 16px;
}

.toc-header.sticky {
  box-shadow: 0 0 0 1px rgba(136, 152, 170, 0.2),
    0 20px 40px 0 rgba(49, 49, 93, 0.15), 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Made custom changes in TOC  */
@layer utilities {
  .shadow-custom {
    box-shadow: 0 0 0 1px rgba(136, 152, 170, 0.2),
      0 20px 40px 0 rgba(49, 49, 93, 0.15), 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  }

  .toc-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: 1s;
  }

  .toc-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: none;
  }

  .toc-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(127, 127, 127, 0.6);
    background-clip: padding-box;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 5px;
    transition: 1s;
  }
}
